// шрифты
$font-main: 'Rubik', sans-serif;
$font-mono: 'Rubik Mono One', monospace;

// размеры
$font-size0: 79px;
$font-size0_1: 72px;
$font-size1: 64px;
$font-size1_1: 50px;
$font-size1_2: 45px;
$font-size2: 48px;
$font-size2_1: 40px;
$font-size3: 39px;
$font-size3_1: 33px;
$font-size4: 29px;
$font-size4_1: 22px;
$font-size4_2: 18px;
$font-size5: 15px;

$font-weight1: 700;
$font-weight2: 400;

$breakpoint-xl: 1600px;
$breakpoint-lg: 1200px;
$breakpoint-md: 768px;
$breakpoint-sm: 480px;